<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form *ngIf="!isLoading" #signupForm="ngForm" (submit)="onSignup(signupForm)">
      <mat-form-field>
          <input
            matInput
            type='email'
            name="email"
            #emailInput="ngModel"
            ngModel
            required
            email
            placeholder="E-mail">
          <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            name="password"
            type="password"
            ngModel
            #passwordInput="ngModel"
            required
            placeholder="Password">
          <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
        </mat-form-field>
        <button color='accent' mat-raised-button type="submit" *ngIf="!isLoading">Signup</button>
  </form>
</mat-card>



