<mat-card>
  <div>
    <button mat-stroked-button type="button" (click)="filePicker.click()">上传文件</button>
    <input type="file" #filePicker name="xmlFile" ng2FileSelect [uploader]="uploader">
    <span>上传文件的名称</span>
    <button
      class='onRight'
      mat-raised-button
      type="button"
      color="primary"
      (click)="uploader.uploadAll()"
      [disabled]="!uploader.getNotUploadedItems().length">
      更新
    </button>
  </div>
</mat-card>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>序号</th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="stateName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>工行支行省份</th>
    <td mat-cell *matCellDef="let element"> {{element.stateName}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="cityName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>支行城市</th>
    <td mat-cell *matCellDef="let element"> {{element.cityName}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="areaCode">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>地区代码</th>
    <td mat-cell *matCellDef="let element"> {{element.areaCode}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>


